body {
            
    background-image: url('sign.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
}

.container {
    max-width: 400px;
    margin: 70px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    font-size: 30px;
    margin-bottom: 20px;
    color:#0c519b; 

}

.form-group {
    margin-bottom: 20px; 
}

label {
    display: block;
    margin-bottom: 5px;  
    font-size: 20px;
}

input[type="text"],
input[type="password"] {
    width: 80%;
    padding: 10px;
    border: 2px solid #e94949;
    border-radius: 5px;
    font-size: 15px; 
}

input[type="submit"] {
    background-color: #08519e;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.back-button {
    background-color: #08519e;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
}

 .navbar {
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px; 
}

.navbar a {
    color: #f5efef;
    text-align: center;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #5478d3;
}

.navbar img {
    height: 40px;
}

footer {
    background-color: #333;
    color: #f5efef;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 5px 0;
}